@font-face {
    font-family: 'Lato-Semibold';
    font-display: swap;
    src: url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato-Bold';
    font-display: swap;
    src: url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.woff2') format('woff2');
}


@font-face {
    font-family: 'Lato-Regular';
    font-display: swap;
    src: url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.woff2') format('woff2');
}


@font-face {
    font-family: 'Lato-Heavy';
    font-display: swap;
    src: url('../fonts/Lato-Heavy.woff') format('woff'), url('../fonts/Lato-Heavy.woff2') format('woff2');
}








