:root {
    --bright-color: #3E9CDC;
    --light-color: #ffffff;
    --subtitle-color: #BBBBBB;
    --dark-color: #000000;
    --main-font: 'Lato-Regular', sans-serif;
    --semi-font: 'Lato-Semibold', sans-serif;
    --bold-font: 'Lato-Bold', sans-serif;
    --heavy-font: 'Lato-Heavy', sans-serif;
}
  



