.footer {
    padding: 30px 0;
    background: #3D4050;
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 40px;
        @include md {
            gap: 20px;
        }
        @include sm {
            flex-wrap: wrap;
        }
        @include xs {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }
    &__wallets{
        margin-left: auto;
        position: relative;
        padding: 0 42px 0 40px;
        display: flex;
        align-items: center;
        gap: 38px;
        @include md {
            gap: 20px;
        }
        @include sm {
            margin-left: 0;
            padding-left: 0;
        }
        @include xs {
            padding-right: 0;
            flex-wrap: wrap;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 18px;
            background: #C3C3C3;
            @include sm {
                display: none;
            }
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 18px;
            background: #C3C3C3;
            @include xs {
                display: none;
            }
        }
    }
    &__copy {
        max-width: 245px;
        font-size: 13px;
        @include sm {
            flex: 1 1 100%;
            max-width: none;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 42px;
        @include md {
            gap: 20px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: var(--light-color);
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            color: var(--bright-color);
            transition: color 0.3s ease;
        }
        img {
            margin-right: 15px;
            width: 20px;
            height: 20px;
        }
    }
}

.wallet{
    display: flex;
    align-items: center;
    &__icon{
        margin-right: 10px;
        flex: 0 0 20px;
        height: 20px;
    }
    &__name {
        color: #C3C3C3;
        font-size: 13px;
        white-space: nowrap;
    }
}