.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 38px 0;
    background: rgba(16, 16, 29, 0.9);
    z-index: 5;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 247px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
        @include xxs {
            width: 180px;
        }
    }
    &__svg {
        max-width: 100%;
        object-fit: contain;
    }
    &__list {
        padding-left: 0;
        display: flex;
        gap: 60px;
        align-items: center;
        @include xs {
            padding: 0 20px;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }
    }
    &__item {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    &__link {
        color: var(--light-color);
        text-transform: uppercase;
        font-family: var(--semi-font);
        font-size: 13px;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
            color: var(--bright-color);
            transition: color 0.3s ease;
        }
    }
    &__nav {
        @include xs {
            position: absolute;
            padding: 45px 0;
            left: 0;
            bottom: 1px;
            transform: translateY(0);
            width: 100%;
            background: rgba(16, 16, 29, 0.9);
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;
            z-index: -1;
            &.active {
                opacity: 1;
                transform: translateY(100%);
                transition: opacity 0.3s ease, transform 0.3s ease;
            }
        }
    }
}

.burger {
    display: none;
    border: none;
    padding: 0;
    background: transparent;
    @include xs {
        display: flex;
        position: relative;
        width: 24px;
        height: 20px;
        justify-content: center;
        flex-direction: column
    }
    &.active span {
        transform: translateX(-50px);
        background: 0 0;
        &:before{
            transform: rotate(45deg) translate(35px,-35px)
        }
        &:after{
            transform: rotate(-45deg) translate(35px,35px)
        }
    }
    span {
        display: inline-block;
        height: 5px;
        border-radius: 10px;
        width: 100%;
        background-color: #005ebc;
        transition: all .5s ease-in-out;
        &:after, &::before {
            content: "";
            position: absolute;
            height: 5px;
            border-radius: 10px;
            left: 0;
            width: 100%;
            background-color: #005ebc;
            transition: all .5s ease-in-out
        }
        &:before {
            transform: translateY(-8px);
        }
        &:after {
            transform: translateY(8px);
        }
    }
}
 